@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: 30px 0;
  background-color: $color-primary;
  &__container {
    @extend %container;
  }
}
.form__form {
  display: grid;
  gap: $gap;
}
.form__item {
  display: block;
  width: 100%;
  height: $gap-x3;
  padding: 0 30px;
  color: $color-gray;
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.5s, border-color 0.5s;
  letter-spacing: 0.15em;
  color: $color-light;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  font-size: 1.125rem;
  outline: none;
}
.form__item:hover,
.form__item:focus {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: $color-light;
  background-color: rgba(255, 255, 255, 0.15);
}
.form__item:hover::placeholder,
.form__item:focus::placeholder {
  color: #acb5d1;
  opacity: 0.7;
  font-weight: normal;
}
.form__item::placeholder {
  color: #acb5d1;
  opacity: 0.4;
  font-weight: 400;
}
.form .btn--primary {
  width: 100%;
  color: $color-light;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.form .btn--primary:hover,
.form .btn--primary:focus {
  background-color: $color-accent;
}
@media (min-width: 768px) {
  .form__form {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.8px) and (min-width: 576px) {
  .form__form {
    grid-template-columns: repeat(2, 1fr);
  }
  .form__item:first-of-type {
    grid-column: 1 / span 2;
  }
}
@media (max-width: 575.8px) {
  .form__form {
    grid-template-columns: repeat(1, 1fr);
  }
}
